*.onnx
GH011336_sample*
*.swp
__pycache__/
*.png
*.mp4
.vscode
.devcontainer
Dockerfile
*.log
tst_client
tst_server
unittest
lapix-RoadObjSegmentation-3
.ipynb_checkpoints
seg_unet_carla/
*.pth
*.onnx
.local
.jupyter
.ipython
.cache
.sudo_as_admin_successful
.Xauthority
build/
testing/carla/planning_data/
venv/
test_results/
utils/fast_rrt/tests/HiDrive
HiDrive
*.so
*.egg-info
tmp34534.dat