numpy 
pandas 
carla==0.9.15
scikit-learn 
scikit-image 
sympy 
autopep8 
jsonpickle
torch
torchvision
torchaudio
fastai
ultralytics
ipykernel
av
ipywidgets
jupyter
jupyterlab-lsp
tensorboard
pycuda
numba
albumentations
torchmetrics
tqdm
segmentation-models-pytorch
onnx
onnxruntime
roboflow
ipympl
pytransform3d
